.newsletter {
    background-color: var(--light-orange);
    color: var(--dark);
    border-radius: 2rem;
    text-align: center;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    margin: 6rem 0;
}

.newsletter__content {
    padding: 0 2rem;
    
}

.newsletter__title {
    font-family: var(--secondary-font);
    font-size: 3rem;
    margin: 1.5rem auto;
}

.newsletter__caption {
    font-family: var(--primary-font-md);
}

.newsletter__email-box {
    background-color: var(--white);
    height: 7rem;
    padding: 0 1.5rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
    
}

.newsletter__email-icon {

}
.newsletter__form{
    height: 100%;
    display: flex;
    align-items: center;
}
.newsletter__input {
    outline: none;
    border: none;
    height: 100% ;
    color: #8D8D8D;
    width: 100%;
}


.newsletter__submit {
    outline: none;
    border: none;
    background-color: var(--orange);
    width: 5rem ;
    height: 5rem ;
    border-radius: 2rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px  rgba(231, 111, 81,0.5);
    cursor: pointer;
}

.newsletter__banner {
    
}

.newsletter__img {
    width: 100%;
}
