.newsletter {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem; 
}

.newsletter-frame {
    background-color: var(--light-orange);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
    min-width: 3rem;
    height: auto;
    border-radius: 2rem;
    text-align: center;
    color: var(--dark);
    margin-right: 1rem;
    margin-left: 1rem;
}
.newsletter__img {
    display: block;
    max-width: 35rem;
    height: auto
}

.newsletter__title {
    font-family: var(--secondary-font);
    font-size: 4rem;
    width: 25rem;
}

.newsletter__caption {
    font-family: var(--primary-font-md);
    text-align: center;
    padding: 1rem 2rem ;
}

.searchbar {
    position: relative;
    width: 100%;
    max-width:  61rem;
}

.searchbar__input {
  border-radius: 1rem;
    border: none;
    height: 8rem;
    min-width: 100%;
    padding:0 1rem 0 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.searchbar__img {
    background-color: var(--orange);
    position: absolute;
    right: 2rem;
    top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;

    cursor: pointer;
}

